<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vortan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EncontrarPalavraEscondidaActivity"></activity>
        <activity android:name=".EncontrarParActivity" />
        <activity android:name=".EncontrarSilabaActivity" />
        <activity android:name=".EncontrarPalavraActivity" />
        <activity android:name=".EncontrarRimaActivity" />
        <activity android:name=".FormarSilabaPalavraActivity" />
        <activity android:name=".EncontrarPalavraRimaActivity" />
        <activity android:name=".FormarSilabaActivity" />
        <activity android:name=".EncontrarLetraActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>